nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav img
{
    height: auto;
    width: 2rem;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
}

.register
{
    border-radius: 3rem;
    width: 7rem;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.jumbotron
{
    background-color: transparent;
}

#freepik_stories-investing {
    height: auto;
    width: auto;
}

@media only screen and (min-width: 767.98px) {
    #freepik_stories-investing {
        width: 25rem;
    }
}
@media only screen and (min-width: 991.98px) {
    #freepik_stories-investing {
        width: auto;
    }
}


@media only screen and (min-width: 767.98px) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.background
{
    position: absolute;
    z-index: -10;
    right: 0;
}

#home
{
    width: 100vw;
}
@media only screen and (max-width: 767.98px) {
    #home
    {
        top: auto;
        transform: rotate(180deg);
    }
}

.error {
    max-width: max-content;
}