nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav img
{
    height: auto;
    width: 2rem;
}

.register
{
    border-radius: 3rem;
    width: 7rem;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.jumbotron
{
    background-color: white;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}