{% extends "layout.html" %}

{% block title %}
    Free Trading App
{% endblock %}

{% block main %}
<img src="../static/images/landing.svg" class="background">
<div class="alert alert-warning mt-4" role="alert"><bold>Important Message from Developer:</bold> I've temporarily stopped the Amazon Web Services RDS database and Elasticache due to the high operating expenses relative to this website's traffic</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 order-2 order-md-1 jumbotron text-left pt-sm-0 pt-md-5">
      <h1 class="display-4">Investing Made Simple</h1>
      <p class="lead">Demo application to buy and sell stocks, view your portfolio's performance over time, and view your transaction history. This application is for demonstration purposes only. No real financial transactions take place.</p>
      <a class="btn btn-success btn-lg register" href="/register">Sign Up</a>
    </div>
    <div class="col-md-6 order-1 order-md-2 align-self-md-center">
      <img src="../static/images/animated-landing.svg">
    </div>
  </div>
</div>
{% endblock %}