{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-md-left mt-5">
            <h1>Enter a stock symbol to obtain the current price</h1>
            <form action="/quote" method="post" class="mt-5">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
                </div>
                <button class="btn btn-outline-success mt-2" type="submit">Quote</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="../static/images/animated-stats.svg">
        </div>
    </div>
</div>
{% endblock %}