{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../static/images/animated-finance.svg">
        </div>
        <div class="col-md-6 text-md-left mt-md-5">
            <h2>Come Aboard!</h2>
            <h2>Begin your journey today</h2>
            <form action="/register" method="post" class="mt-5 needs-validation" novalidate>
                <div class="form-label-group">
                    <input autocomplete="off" class="form-control" name="username" placeholder="Username" id="inputUsername" type="text" required autofocus>
                    <label for="inputUsername">Username</label>
                    <div class="spaceholder"></div>
                    <div class="valid-feedback">Nice to meet you!</div>
                    <div class="invalid-feedback">Please provide username.</div>
                </div>
                <div class="form-label-group">
                    <input class="form-control" name="password" placeholder="Password" type="password" id="inputPassword" required>
                    <label for="inputPassword">Password</label>
                    <div class="spaceholder"></div>
					<div class="valid-feedback">Even Alan Turing can't crack your password</div>
					<div class="invalid-feedback">Please provide password.</div>
                </div>
                <div class="form-label-group">
                    <input class="form-control" name="confirmation" placeholder="Password" type="password" id="inputConfirmedPassword" required>
                    <label for="inputConfirmedPassword">Password</label>
                    <div class="spaceholder"></div>
					<div class="valid-feedback">Awaiting confirmation</div>
					<div class="invalid-feedback">Please confirm your password.</div>
                </div>
                <button class="btn btn-outline-success mt-2 mb-5" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}